@import "tailwindcss";

:root {
  --background: #ecfeff;
  --foreground: #0f172a;
  --primary: #115e59;
  --secondary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
